<template>
  <div id="app">
    <TrainAndGain />
  </div>
</template>

<script>
  import TrainAndGain from './components/TrainAndGain.vue'

export default {
  name: 'app',
  components: {
    TrainAndGain,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-bottom: 40px;
}
body {
  background-color: #ddd;
}

</style>
