<template>
    <div class="container">
        <div class="demo-cheat">
            <span class="btn btn-info mr-2" v-text="'Station'" @click="adminSetStationMode()"/>
            <span class="btn btn-info mr-2" v-text="'New info'" @click="adminTriggerNewInfo()"/>
        </div>

        <div class="row">
            <div :class="{'col-12': true, 'train': true, moving: !isStationMode(), stopped: isStationMode()}">
            </div>
        </div>
        <div class="row">
            <div class="col-12 task p-3" v-for="(task, taskID) in listTasks()" :key="taskID">
                <h1 v-text="task.title"/>
                <template v-if="task.type === 'fire'">
                    <span v-for="i in task.size" @click="processTask(taskID, 'extinguish')" style="cursor: pointer;" :key="'fire' + i">🔥</span><br/>
                    <span class="btn btn-danger mt-3" @click="processTask(taskID, 'extinguish')" v-text="'Extinguish'"/><br/>
                </template>
                <template v-else-if="task.type === 'station'">
                    Time remaining: {{ task.remainingTime }} seconds
                    <div v-for="(station, key) in stationData" :key="'station' + key" :class="{fact: true, seen: stationFactSeen[key]}">
                        <div v-if="!stationFactSeen[key]" @click="setFactToSeen(taskID, key)" style="cursor: pointer">
                            <img :src="station.image" class="large" title="Click for random fact"/>
                        </div>
                        <div class="clearfix" v-else>
                            <img :src="station.image" class="small"/>
                            <p v-html="station.fact"/>
                        </div>
                    </div>
                </template>
            </div>
            <div class="col-12 task" v-if="!isEvent()">
                <h1>No event. Chill!</h1>
            </div>
        </div>
        <div class="row status">
            <div class="col-12">
                <span class="font-weight-bold">Name</span>: <input type="text" v-model="userNameEdit" ref="userNameInput" @blur="changeUsername($event.target.value)" @keypress.enter="changeUsername($event.target.value)" v-if="userNameEdit === '' || userNameEdit"/><span @click="enableUserNameEdit" v-text="user.name" v-else/><br/>
                <span class="font-weight-bold">Score</span>: <span class="score my-score" v-text="user.score"/>
                <div class="user-event" v-if="userEventFormat()" v-text="userEventFormat()"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12 trainProgress">
                🚆 <span v-text="parseInt(state.progress / state.lengthSecs * state.lengthKm)"/>km / {{ state.lengthKm }}km - {{ formatTime(state.progress) }} / {{parseInt(state.progress / state.lengthSecs * 100)}}% / {{ formatTime(parseInt(state.lengthSecs - state.progress)) }} to arrive
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-9 chat">
                <div v-for="(chatMsg, key) in chat" :key="'chat' + key">
                    [{{ chatMsg.time }}] {{ chatMsg.userName }}: {{ chatMsg.message}}
                </div>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Message ..." v-model="newMessage" @keypress.enter="sendMessage"/>
                    <span class="input-group-append btn btn-success" @click="sendMessage">Send</span>
                </div>
            </div>
            <div class="col-12 col-lg-3 userList">
                <div v-for="(userOther, no) in userList" :key="no">
                    <span class="font-weight-bold" v-text="userOther.name"/>: <span class="score" v-text="userOther.score"/>
                </div>
            </div>
        </div>
        <div class="news" v-html="information" v-if="information" @click="information = null"/>
    </div>
</template>

<script>
    import io from "socket.io-client";
    import _ from 'lodash';

    export default {
        name: 'TrainAndGain',
        data() {
            return {
                stationMode:false,
                user: {},
                userList: [],
                userEvent: null,
                userNameEdit: null,
                socket: {},
                state: {},
                information: null,
                newMessage: '',
                stationData: [
                    {
                        fact: 'Capacity of the <b>Krakow main train station</b> is 5,000 passengers per hour and up to 100,000 a day (i.e. 24 hours). On an average day some 660 trains run its 12 tracks. <br/><br/>There are 28 ticket windows. Even if not all of them are open on any ordinary day, the management tries to anticipate peak hours and high seasons so long queuing is rare. Plus there are automatic ticketing machines.',
                        image: 'station/20150207_Pendolino_ED250_PKP_Intercity_Krakow_5031.jpg',
                    },
                    {
                        fact: 'Rail transport came to Kielce in <b>1885</b>, when the construction of the line linking Iwanogród (Dęblin) and Dąbrowa Górnicza was completed. Currently, Kielce is an important intersection of railway lines, running to Częstochowa and Lubliniec, Warsaw, Kraków and Sandomierz. Within the administrative boundaries of the city there are the following railway stations: Kielce, Kielce Piaski, Kielce Białogon, Kielce Herbskie, Kielce Ślichowice.',
                        image: 'station/Kielce.jpg',
                    },
                    {
                        fact: 'In Poland there are 18,513 kilometres of railway tracks managed by PKP SA and owned by the state.',
                        image: 'station/14987832105_7248c24c32_b.jpg',
                    },
                    {
                        fact: 'Polskie Koleje Państwowe SA (PKP SA; English: Polish State Railways, Inc.) is the dominant railway operator in Poland. The company was founded when the former Polskie Koleje Państwowe state-owned operator was divided into several units based on the requirements laid down by the European Union. PKP SA is the dominant company in PKP Group collective that resulted from the split, and maintains in 100% share control, being fully responsible for management of all of the other PKP Group component companies. The group\'s organisations are dependent upon PKP SA, but proposals for privatisation have been made.',
                        image: 'station/14_big.jpg',
                    },
                    {
                        fact: 'Lublin railway station is the most important railway station in Lublin, Poland. The main station building was opened in 1877. It is now considered one of the best railway stations in Poland, according to Gazeta Wyborcza which gave it second place in the ranking of 23 most significant Polish railway stations.',
                        image: 'station/lublin_2.jpg',
                    },
                ],
                stationFactSeen: [],
                chat: [],
            };
        },
        created() {
            //this.socket = io("http://127.0.0.1:3000");
//            this.socket = io("https://ws-trainandgain.retech.hu");
            this.socket = io("http://agro-3.vps.f6.hu:3050");
            this.socket.on('initState', ({globalState, user, userList, chat}) => {
                this.state = globalState;
                this.user = user;
                this.userNameEdit = null; // esetleg reconnect
                this.userList = userList;
                this.chat = chat;
            });
            this.socket.on('updateUserList', (userList) => {
                this.userList = userList;
            });
            this.socket.on('updateUser', (myUser) => {
                this.user = myUser;
            });
            this.socket.on('updateProgress', (progress) => {
                this.state.progress = progress;
            });
            this.socket.on('updateTasks', (tasks) => {
                this.state.tasks = tasks;
            });
            this.socket.on('information', (text) => {
                this.information = text;
            });
            this.socket.on('chatUpdate', (chat) => {
                this.chat = chat;
            });
            this.socket.on('userProcess', (userEvent) => {
                this.userEvent = userEvent;
            });
        },
        mounted() {
        },
        methods: {
            userEventFormat() {
                if (this.userEvent && this.userEvent.time > new Date().getTime() - 5000) {
                    let eventString = ' made a task quest';
                    if (this.userEvent.data === 'extinguish') {
                        eventString = 'extinguishes fire';
                    }
                    if (this.userEvent.data === 'seen') {
                        eventString = ' have read a fact';
                    }
                    return this.userEvent.name + ' ' + eventString;
                }
            },
            processTask(taskID, data) {
                this.socket.emit('processTask', taskID, data);
            },
            changeUsername(newName) {
                this.user.name = newName;
                this.socket.emit('changeName', this.user.name);
                this.userNameEdit = null;
            },
            enableUserNameEdit() {
                this.userNameEdit = this.user.name;
                this.$nextTick(() => {
                    this.$refs.userNameInput.focus();
                });
            },
            formatTime(secs) {
                let hour = Math.floor(secs / 3600);
                let minutes = Math.round((secs - hour * 3600) / 60);
                let s = '';
                if (hour > 0 ) {
                    s += hour + ' hour'
                }
                if (minutes > 0) {
                    if (s !== '') {
                        s += ' ';
                    }
                    s += minutes + ' minutes';
                }
                return s;
            },
            listTasks() {
                if (!this.state.tasks) {return [];}

                let stationMode = false;
                let station = {};

                // if station, only that task matters
                _.each(this.state.tasks, (task, taskID) => {
                    if (task.type === 'station') {
                        station[taskID] = task;
                        stationMode = true;
                        return false;
                    }
                });

                if (stationMode) {
                    this.stationMode=true;
                    return station;
                } else  {
                    // reset
                    this.stationMode=false;
                    this.stationFactSeen = [];
                }

                return this.state.tasks;
            },
            isEvent() {
                return !_.isEmpty(this.state.tasks);
            },
            isStationMode() {
                return this.stationMode;
            },
            setFactToSeen(taskID, key) {
                this.stationFactSeen[key] = true;
                this.processTask(taskID, 'seen');
            },
            adminSetStationMode() {
                this.socket.emit('adminSetStationMode');
            },
            adminTriggerNewInfo() {
                this.socket.emit('adminTriggerNewInfo');
            },
            remainingTimeFormat(t) {
                return parseInt(t);
            },
            sendMessage() {
                if (this.newMessage === '') {
                    return;
                }
                this.socket.emit('newChatMessage', this.newMessage);
                this.newMessage = '';
            },
        },
    }
</script>

<style scoped>
    .task {
        text-align: center;
        border: 1px solid #000;
        background-color: white;
        min-height: 100px;
    }
    .status {
        border: 1px solid #000;
        background-color: #dfcc74;
        min-height: 50px;
    }
    .userList {
        border: 1px solid #000;
        background-color: #dbd5b5;
        min-height: 100px;
    }
    .chat {
        text-align: left;
        border: 1px solid #000;
        background-color: #7f95d1;
        min-height: 100px;
    }
    .trainProgress {
        border: 1px solid #000;
        background-color: #dfcc74;
        min-height: 60px;
    }
    .demo-cheat {
        opacity: .5;
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 1000;
    }
    .news {
        position: fixed;
        left: 0;
        bottom: 0;
        border-top: 2px solid #f00;
        background-color: #ccc;
        opacity: .8;
        width: 100%;
        font-weight: bold;
        padding: 5px 0;
    }
    @-webkit-keyframes sprite {
        0%    { background-position: 0px 0px; }
        25%   { background-position: 155px 0px; }
        25.1% { background-position: 155px 0px; }
        50%   { background-position: 310px 0px; }
        50.1% { background-position: 310px 0px; }
        75%   { background-position: 455px 0px; }
        75.1% { background-position: 455px 0px; }
        99.9% { background-position: 620px 0px; }
        100%  { background-position: 620px 0px; }
    }
    @-moz-keyframes sprite {
        0%    { background-position: 0px 0px; }
        25%   { background-position: 155px 0px; }
        25.1% { background-position: 155px 0px; }
        50%   { background-position: 310px 0px; }
        50.1% { background-position: 310px 0px; }
        75%   { background-position: 455px 0px; }
        75.1% { background-position: 455px 0px; }
        99.9% { background-position: 620px 0px; }
        100%  { background-position: 620px 0px; }
    }
    @-o-keyframes sprite {
        0%    { background-position: 0px 0px; }
        25%   { background-position: 155px 0px; }
        25.1% { background-position: 155px 0px; }
        50%   { background-position: 310px 0px; }
        50.1% { background-position: 310px 0px; }
        75%   { background-position: 455px 0px; }
        75.1% { background-position: 455px 0px; }
        99.9% { background-position: 620px 0px; }
        100%  { background-position: 620px 0px; }
    }
    @keyframes sprite {
        0%    { background-position: 0px 0px; }
        25%   { background-position: 155px 0px; }
        25.1% { background-position: 155px 0px; }
        50%   { background-position: 310px 0px; }
        50.1% { background-position: 310px 0px; }
        75%   { background-position: 455px 0px; }
        75.1% { background-position: 450px 0px; }
        99.9% { background-position: 620px 0px; }
        100%  { background-position: 620px 0px; }
    }
    div.train {
        height: 70px;
        width: 620px;
    }
    div.train.moving {
        background: url(Train_Pixel.jpg);
        -webkit-animation: 0.8s sprite infinite;
        -moz-animation: 0.8s sprite infinite;
        -o-animation: 0.8s sprite infinite;
        animation: 0.8s sprite infinite;
    }
    div.train.stopped {
        background: url(Train_Stay.jpg);
        width: 160px;
    }
    .fact {
        margin: 5px;
    }
    .fact.seen {
        background: #efe;
    }
    .fact img.small {
        margin: 10px;
        float: left;
        width: 10%;
    }
    .fact img.large {
        width: 95%;
    }
    .fact div {
        text-align: center;
    }
    .fact p {
        text-align: left;
    }
</style>